<%- include("partials/metadata") %>

  <body>
    <main>
      <%- include("partials/menu") %>
        <div class="container">
          <form action="/attach" enctype="multipart/form-data" method="post">
            <input type="hidden" value="<%=selfItem._id %>" name="itemId" />
            <div class="mb-3">
              <textarea class="form-control" placeholder="Введите название товаара"
                name="itemName" readonly>
                <%=selfItem.name %>
              </textarea>
            </div>
            <div class="mb-3">
              <textarea class="form-control" placeholder="Укажите размер" name="size" readonly>
                <%=selfItem.size %>
              </textarea>
            </div>
            <div class="mb-3">
              <textarea class="form-control" placeholder="Укажите материал" name="stuff" readonly>
                <%=selfItem.stuff %>
              </textarea>
            </div>
            <div class="mb-3">
              <textarea class="form-control" placeholder="Укажите цену" name="price" readonly>
                <%=selfItem.price %>
              </textarea>
            </div>
            <div class="mb-3">
              <input type="file" name="attachFile" />
            </div>
            <div class="mb-3">
              <input type="submit" class="btn btn-light" value="Прикрепить файл" />
            </div>
          </form>
        </div>
    </main>
  </body>

  </html>