<%- include("partials/metadata") %>

  <body class="cm-page-body">
    <main class="cm-page-body__content-page">
      <div class="container cm-page-body__grid-container">
        <div class="row cm-page-body__grid-base">
          <div class="col-5 cm-page-body__jumbotron-box">
            <%- include('partials/jumbotron', { title: 'Прикрепить файл' , text: 'Прикрепите изображение товара' }) %>
          </div>
          <div class="col-7 cm-page-body__access-form-box">
            <form action="/attach" class="shadow rounded cm-access-form" enctype="multipart/form-data" method="post">
              <input type="hidden" value="<%=selfItem._id %>" name="itemId" />
              <div class="mb-3 cm-access-form__input-box">
                <div class="form-floating">
                  <input class="form-control text-break text-secondary cm-access-form__input-text" id="itemName"
                    name="itemName" value="<%=selfItem.name %>" readonly>
                  <label class="text-break" for="itemName">Введите название товара</label>
                </div>
              </div>
              <div class="mb-3 cm-access-form__input-box">
                <div class="form-floating">
                  <input class="form-control text-break text-secondary cm-access-form__input-text"
                    placeholder="Укажите размер" id="size" name="size" value="<%=selfItem.size %>" readonly>
                  <label class="text-break" for="size">Укажите размер</label>
                </div>
              </div>
              <div class="mb-3 cm-access-form__input-box">
                <div class="form-floating">
                  <input class="form-control text-break text-secondary cm-access-form__input-text" id="stuff"
                    name="stuff" value="<%=selfItem.stuff %>" readonly>
                  <label class="text-break" for="stuff">Укажите материал</label>
                </div>
              </div>
              <div class="mb-3 cm-access-form__input-box">
                <div class="form-floating">
                  <input class="form-control text-break text-secondary cm-access-form__input-text" id="price"
                    name="price" value="<%=selfItem.price %>" readonly>
                  <label class="text-break" for="price">Укажите цену</label>
                </div>
              </div>
              <div class="mb-3 cm-access-form__input-box">
                <input type="file" class="form-control form-control-lg" name="attachFile" />
              </div>
              <div class="mb-3 cm-access-form__input-box">
                <input type="submit"
                  class="btn btn-primary text-break cm-access-form__submit-btn cm-access-form__submit-btn--full-size"
                  value="Прикрепить файл" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>

  </html>