<%- include("partials/metadata") %>

  <body>
    <main>
      <%- include("partials/menu") %>
        <div class="container">
          <form method="post">
            <div class="mb-3">
              <textarea class="form-control" id="showItemName" placeholder="Введите название товаара" name="itemName"
                readonly>
                <%=selfItem.name %>
              </textarea>
            </div>
            <div class="mb-3">
              <textarea class="form-control" id="showControlSize" placeholder="Укажите размер" name="size" readonly>
                <%=selfItem.size %>
              </textarea>
            </div>
            <div class="mb-3">
              <textarea class="form-control" id="showControlStuff" placeholder="Укажите материал" name="stuff" readonly>
                <%=selfItem.stuff %>
              </textarea>
            </div>
            <div class="mb-3">
              <textarea class="form-control" id="showControlPrice" placeholder="Укажите цену" name="price" readonly>
                <%=selfItem.price %>
              </textarea>
            </div>
            <div class="mb-3">
              <input type="submit" class="btn btn-light" value="Добавить" />
            </div>
          </form>
        </div>
    </main>
  </body>

  </html>