<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%=title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/../../page/page.css" />
  <link rel="stylesheet" href="/../../jumbotron/jumbotron.css" />
  <link rel="stylesheet" href="/../../accessForm/accessForm.css" />
</head>

  <body class="cm-page-body" style="background: linear-gradient( 
    -225deg, #6c757d 20%, #f8f9fa 40%);">
    <main class="cm-page-body__content-page" style="background: linear-gradient( 
      -52deg, #0d6efd 20%, #f8f9fa 40%); border: 1px solid #dc3545;">
      <div class="container cm-page-body__grid-container">
        <div class="row cm-page-body__grid-base">
          <div class="col-5 cm-page-body__jumbotron-box">
            <%- include('partials/jumbotron', { title: "Удалить этот товар" ,
              text: 'После удаления товара ничего изменить будет нельзя' }) %>
          </div>
          <div class="col-7 cm-page-body__access-form-box">
            <form class="shadow rounded cm-access-form" method="post" style="background: linear-gradient( 
              -45deg, #6c757d 20%, #f8f9fa 40%); border: 1px solid #dc3545;">
              <div class="mb-3 cm-access-form__input-box">
                <div class="form-floating">
                  <textarea class="form-control text-break text-secondary cm-access-form__input-text" id="readItemName"
                    placeholder="Введите название товара" name="itemName" readonly>
                </textarea>
                  <label class="text-break" for="readItemName">
                    <%=selfItem.name %>
                  </label>
                </div>
              </div>
              <div class="mb-3 cm-access-form__input-box">
                <div class="form-floating">
                  <textarea class="form-control text-break text-secondary cm-access-form__input-text"
                    id="readControlSize" placeholder="Укажите размер" name="size" readonly>
                </textarea>
                  <label class="text-break" for="readControlSize">
                    <%=selfItem.size %>
                  </label>
                </div>
              </div>
              <div class="mb-3 cm-access-form__input-box">
                <div class="form-floating">
                  <textarea class="form-control text-break text-secondary cm-access-form__input-text"
                    id="readControlStuff" placeholder="Укажите материал" name="stuff" readonly>
                </textarea>
                  <label class="text-break" for="readControlStuff">
                    <%=selfItem.stuff %>
                  </label>
                </div>
              </div>
              <div class="mb-3 cm-access-form__input-box">
                <div class="form-floating">
                  <textarea class="form-control text-break text-secondary cm-access-form__input-text"
                    id="readControlPrice" placeholder="Укажите цену" name="price" readonly>
                </textarea>
                  <label class="text-break" for="readControlPrice">
                    <%=selfItem.price %>
                  </label>
                </div>
              </div>
              <div class="cm-access-form__underline"></div>
              <div class="mb-3 cm-access-form__input-box">
                <input type="submit"
                  class="btn btn-outline-danger text-break cm-access-form__submit-btn cm-access-form__submit-btn--full-size"
                  value="Удалить" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script src="/../../extended/privatePageDOMchanging.js"></script>
  </body>

  </html>