<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%=title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/../../page/page.css" />
  <link rel="stylesheet" href="/../../header/header.css">
  <link rel="stylesheet" href="/../../fieldSearch/fieldSearch.css">
  <link rel="stylesheet" href="/../../humburger/humburger.css">
  <link rel="stylesheet" href="/../../sidebar/sidebar.css">
  <link rel="stylesheet" href="/../../cardListInfo/cardListInfo.css">
  <link rel="stylesheet" href="/../../card/card.css">
  <link rel="stylesheet" href="/../../textHelper/helper.css">
</head>

<body class="cm-page-body">
  <header id="header">
    <div class="container header-content" id="headerContent">
      <ul class="nav">
        <li class="nav-item" id="menuItem">
          <span class="nav-link text-white" id="textItem">
            <span class="text-break" id="fontIcon">Ru</span>
            <span class="flug-icon" id="flugIcon"></span>
          </span>
        </li>
        <li class="nav-item" id="menuItem">
          <span class="nav-link text-break text-white" id="specialItem">
            <span class="fas fa-phone-volume"></span>
            <span>+7 (905) 529-31-14</span>
          </span>
        </li>
        <% if(isPrivateAccess) {%>
          <li class="nav-item">
            <a href="/item/access/private" class="
                      nav-link
                      text-break
                      text-white
                      link-colored
                    " id="menuItem">
              Возможности
            </a>
          </li>
          <%} %>
          
            <li class="nav-item" id="menuItem">
              <a href="/item/group/public/handkerchiefs" class="
                  nav-link 
                  text-break 
                  text-white 
                  link-colored
                "
              >Платки</a>
            </li>
            <li class="nav-item" id="menuItem">
              <a href="/item/group/public/neckerchief" class="
                  nav-link 
                  text-break 
                  text-white 
                  link-colored
                "
              >Шарфы</a>
            </li>
          
        
      </ul>
      <input type="text" class="search form-control" placeholder="Введите название или цену товара..." id="search">
    </div>
    <div class="container btn-humburger" id="menuButton">
      <div class="menu-humburger is-active" id="humburger">
        <div class="humburger-item-1" id="humburgerItem"></div>
        <div class="humburger-item-2" id="humburgerItem"></div>
        <div class="humburger-item-3" id="humburgerItem"></div>
      </div>
    </div>
    <div class="offcanvas offcanvas-start sidebar is-close-sidebar" id="hide-sidebar">
      <div class="offcanvas-body sidebar-body">
        <ul class="list-group">
          <li class="list-group-item sidebar-item">
            <span class="nav-link text-dark">
              <span class="text-break icon-lang">Ru</span>
              <span class="icon-flag"></span>
            </span>
          </li>
          <li class="list-group-item sidebar-item">
            <span class="nav-link text-break text-dark">
              <span class="fas fa-phone-volume font-icon"></span>
              <span class="font-icon font-phone-number">+7 (905) 529-31-14</span>
            </span>
          </li>
          <li class="list-group-item sidebar-item">
            <a href="/item/access/private" class="
                        nav-link
                        text-break
                        text-dark
                        link-confirm
                      ">
              <span class="sidebar-link">Возможности</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <main class="card-list" id="cardListInfo">
    <div class="container">
      <div class="row card-list-base">
        <% if(isSomeItem) {%>
          <% for(let j=0; j<someItems.length;j++) {%>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 card-list-box mb-4">
              <div class="card cm-card-item" id="card">
                <div class="container cm-card-item__item-box">
                  <div class="row cm-card-item__item-grid">
                    <div class="col-12 cm-card-item__img-place">
                      <div class="cm-card-item__img-box">
                        <img class="card-img-top cm-card-item__item-img" src="<%=someItems[j].imgPath %>"
                          alt="Платочек">
                      </div>
                    </div>
                    <div class="col-12 cm-card-item__item-content">
                      <div class="card-body cm-card-item__card-body">
                        <p class="card-text text-break text-white cm-card-item__item-price" id="itemPrice">
                          <%=someItems[j].price %>
                        </p>
                        <p class="card-text text-break text-white cm-card-item__item-size">
                          <%=someItems[j].size %>
                        </p>
                        <h5 class="card-title text-break text-white cm-card-item__item-name" id="itemName">
                          <%=someItems[j].name %>
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%} %>
              <% }else {%>
                <%- include('partials/textHelper.ejs', { textContent: "Не было загружено ни одного товара..." }) %>
                  <%} %>
      </div>
    </div>
  </main>
  <!-- <script defer src="/../../extended/hiddenConsole.js"></script> -->
  <script defer src="/../../header/header.js" type="module"></script>
  <script defer src="/../../fieldSearch/fieldSearch.js" type="module"></script>
  <script defer src="/../../humburger/humburger.js" type="module"></script>
  <script defer src="/../../cardListInfo/cardListInfo.js" type="module"></script>
  <script defer src="/../extended/openSidebar.js"></script>
  <script defer src="/../../extended/transformMenu.js"></script>
  <script defer src="/../../extended/searchItem.js"></script>
</body>

</html>