<%- include("partials/metadata") %>

  <body class="cm-page-body">
    <main class="cm-page-body__content-page">
      <%- include("partials/menu") %>
        <div class="container cm-page-body__grid-container">
          <div class="row cm-page-body__grid-base">
            <% if(isSomeItem) {%>
              <% for(let j=0; j<someItems.length;j++) {%>
                <div class="col-3 cm-page-body__card-box">
                  <div class="card cm-card-item">
                    <div class="container cm-card-item__item-box">
                      <div class="row cm-card-item__item-grid">
                        <div class="col-7 cm-card-item__img-place">
                          <div class="pt-3 pb-3 cm-card-item__img-box">
                            <img class="card-img-top cm-card-item__item-img" src="<%=someItems[j].imgPath %>"
                              alt="Платочек">
                          </div>
                        </div>
                        <div class="col-5 cm-card-item__item-data">
                          <div class="card-body cm-card-item__card-body">
                            <p class="card-text text-break text-dark cm-card-item__item-price">
                              <%=someItems[j].price %>
                            </p>
                            <p class="card-text text-break text-secondary cm-card-item__item-size">
                              <%=someItems[j].size %>
                            </p>
                            <h5 class="card-title text-break text-secondary cm-card-item__item-name">
                              <%=someItems[j].name %>
                            </h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <%} %>
                  <% }else {%>
                    <div class="alert alert-primary cm-text-helper">
                      <h3 class="alert-heading text-break cm-text-helper__title">Не было загружено ни одного товара...
                      </h3>
                    </div>
                    <%} %>
          </div>
        </div>
    </main>
  </body>

  </html>