<%- include("partials/metadata") %>

  <body class="cm-page-body">
    <main class="cm-page-body__content-page">
      <%- include("partials/menu") %>
        <div class="container cm-page-body__grid-container">
          <div class="row cm-page-body__grid-base">
            <% if(isItemSome) {%>
            <% for(let j=0; j<items.length;j++) {%>
              <div class="col-3 cm-page-body__card-box">
                <div class="card cm-card-item" style="width: 300px;">
                  <div class="cm-card-item__img-box" style="display: flex; justify-content: center;">
                    <svg class="bd-placeholder-img cm-card-item__item-img" width="200" height="250"
                      xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                      preserveAspectRatio="xMidYMid slice" focusable="false">
                      <title>Placeholder</title>
                      <rect width="100%" height="100%" fill="#55595c"></rect>
                      <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                        Thumbnail
                      </text>
                    </svg>
                  </div>
                  <div class="card-body cm-card-item__card-body">
                    <p class="card-text text-break cm-card-item__item-price">
                      <%=items[j].price %>
                    </p>
                    <h5 class="card-title text-break cm-card-item__item-name">
                      <%=items[j].name %>
                    </h5>
                    <a href="/item/detail/<%=items[j]._id %>"
                      class="btn btn-success cm-card-item__description-link">Подробнее</a>
                  </div>
                </div>
              </div>
              <%} %>
              <% }else {%>
                <div class="alert alert-primary">
                  <h3 class="alert-heading text-break">Не было загружено ни одного товара...</h3>
                </div>
              <%} %>
          </div>
        </div>
    </main>
  </body>

  </html>