<%- include("partials/metadata") %>

  <body class="cm-page-body">
    <main class="cm-page-body__content-page">
      <%- include("partials/menu") %>
        <div class="container cm-page-body__grid-container">
          <div class="row cm-page-body__grid-base">
            <% if(isSomeItem) {%>
              <% for(let j=0; j<someItems.length;j++) {%>
                <div class="col-3 cm-page-body__card-box">
                  <div class="card cm-card-item" style="width: 300px;">
                    <div class="cm-card-item__img-box" style="display: flex; justify-content: center;">
                      <img class="card-img-top" src="<%=someItems[j].imgPath %>" alt="Платочек">
                    </div>
                    <div class="card-body cm-card-item__card-body">
                      <p class="card-text text-break cm-card-item__item-price">
                        <%=someItems[j].price %>
                      </p>
                      <p class="card-text text-break cm-card-item__item-size">
                        <%=someItems[j].size %>
                      </p>
                      <h5 class="card-title text-break cm-card-item__item-name">
                        <%=someItems[j].name %>
                      </h5>
                    </div>
                  </div>
                </div>
                <%} %>
                  <% }else {%>
                    <div class="alert alert-primary cm-text-helper">
                      <h3 class="alert-heading text-break cm-text-helper__title">Не было загружено ни одного товара...
                      </h3>
                    </div>
                    <%} %>
          </div>
        </div>
    </main>
  </body>

  </html>