<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%=title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/../../documentBody/documentBody.css">
  <link rel="stylesheet" href="/../../animatedBlock/imposition.css">
  <link rel="stylesheet" href="/../../accessForm/accessForm.css" />
  <link rel="stylesheet" href="/../../textHelper/helper.css">
  <link rel="stylesheet" href="/../../panelPrompt/panelPrompt.css">
  <!-- <link rel="stylesheet" href="/../../card/card.css"> -->
  <link rel="stylesheet" href="/../../cardItemDetail/cardItemDetail.css">
</head>

  <body class="admin-page">
    <main>
      <div class="container">
        <button class="btn btn-secondary panel-button" id="panelBtn">
          <span class="text-white fas fa-align-right"></span>
        </button>
        <div class="offcanvas offcanvas-start bg-secondary reverse" id="showPanel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title text-white text-break panel-title">Управление товарами</h5>
            <div class="btn btn-light fas fa-times reset-btn text-white" id="resetBtn"></div>
          </div>
          <div class="offcanvas-body">
            <p class="text-white text-break panel-text">В данном разделе вы можете управлять своими товарами, добавлять и
              удалять товары.</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <% if(isSomeItem) {%>
            <% for(let j=0; j<someItems.length;j++) {%>
              <div class="col-xxl-4 col-xl-4 col-lg-4 mb-4">
                <div class="card" id="cardItem">
                  <div class="pt-3 pb-3 card-header card-detail-header" id="cardHeader">
                    <img 
                      class="img-fluid" 
                      src="<%=someItems[j].imgPath %>" 
                      alt="<%=someItems[j].name %>"
                      id="cardImg"
                    >
                  </div>
                  <div class="card-body card-item-body" id="cardBody">
                    <p class="card-text text-break text-dark item-price" id="itemPrice">
                      <%=someItems[j].price %>
                    </p>
                    <p class="card-text text-break text-dark item-size">
                      <%=someItems[j].size %>
                    </p>
                    <p class="card-text text-break text-dark item-name" id="itemName">
                      <%=someItems[j].name %>
                    </p>
                    <p class="card-text text-break text-dark item-stuff">
                      <%=someItems[j].stuff %>
                    </p>
                    <a 
                      href="/item/delete/<%=someItems[j]._id %>" 
                      class="btn btn-outline-danger text-break btn-remove-item"
                      id="removeItem"
                    >
                      Удалить
                    </a>
                  </div>
                </div>
              </div>
              <%} %>
                <% }else {%>
                  <%- include('partials/textHelper.ejs', {
                    textContent: "Необходимо загрузить товары..."
                  }) %>
                  <%} %>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <%- include('partials/showAd.ejs', {
            title: "Загрузить товар",
            text: "Начните добавлять товары прямо сейчас!"
          }) %>
          <div class="col-7 app-access-form cm-page-body__access-form-box--private private-wrapper">
            <form class="shadow cm-access-form cm-access-form--strict" method="post" style="border: none;">
              <div class="mb-3 cm-access-form__input-box">
                <div class="form-floating">
                  <textarea class="form-control text-break text-secondary cm-access-form__input-text" id="fieldItemName"
                    name="itemName">
                </textarea>
                  <label class="text-break" for="itemName">Введите название товара</label>
                </div>
              </div>
              <div class="mb-3 cm-access-form__input-box">
                <div class="form-floating">
                  <textarea class="form-control text-break text-secondary cm-access-form__input-text" id="fieldSize"
                    name="size">
                </textarea>
                  <label class="text-break" for="size">Укажите размер</label>
                </div>
              </div>
              <div class="mb-3 cm-access-form__input-box">
                <div class="form-floating">
                  <textarea class="form-control text-break text-secondary cm-access-form__input-text" id="fieldStuff"
                    name="stuff">
                </textarea>
                  <label class="text-break" for="stuff">Укажите материал</label>
                </div>
              </div>
              <div class="mb-3 cm-access-form__input-box">
                <div class="form-floating">
                  <textarea class="form-control text-break text-secondary cm-access-form__input-text" id="fieldPrice"
                    name="price">
                </textarea>
                  <label class="text-break" for="price">Укажите цену</label>
                </div>
              </div>
              <div class="mb-3 cm-access-form__input-box cm-access-form__input-box--centered">
                <input type="submit" class="
                  btn
                  btn-light
                  text-break
                  text-white
                  cm-access-form__submit-btn
                  cm-access-form__submit-btn--full-size
                  cm-access-form__submit-btn--colored
                " value="Добавить">
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <!-- <script async src="/../../extended/hiddenConsole.js"></script> -->
    <!-- <script async src="/../../extended/privatePageDOMchanging.js"></script> -->
    <script async src="/../../extended/saveToLocaleFromAddArea.js"></script>
    <script async src="/../../extended/clearTextarea.js"></script>
    <script async src="/../../extended/resizeTextarea.js"></script>
    <script defer src="/../../cardItemDetail/cardItemDetail.js" type="module"></script>
    <script async src="/../../extended/togglePanelPrompt.js"></script>
  </body>

  </html>