<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%=title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/../../page/page.css" />
  <link rel="stylesheet" href="/../../animatedBlock/imposition.css">
  <link rel="stylesheet" href="/../../jumbotron/jumbotron.css" />
  <link rel="stylesheet" href="/../../accessForm/accessForm.css" />
  <link rel="stylesheet" href="/../../textHelper/helper.css">
  <link rel="stylesheet" href="/../../banner/banner.css">
  <link rel="stylesheet" href="/../../card/card.css">
</head>

  <body class="cm-page-body cm-page-body--strict">
    <main class="cm-page-body__grid-container">
      <div class="container">
        <div class="row cm-page-body__banner-box">
          <div class="alert alert-primary text-white p-md-5 mb-4 cm-banner">
            <div class="col-8 cm-banner__banner-content">
              <h1 class="text-break cm-banner__title">Управление товарами</h1>
              <p class="lead my-3 text-break cm-banner__text">
                В данном разделе вы можете управлять своими товарами, добавлять и
                удалять товары.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <% if(isSomeItem) {%>
            <% for(let j=0; j<someItems.length;j++) {%>
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 cm-page-body__card-box cm-page-body__card-box--private">
                <div class="card cm-card-item cm-card-item--strict сm-card-item--most-wide mb-4">
                  <div class="container cm-card-item__item-box">
                    <div class="row cm-card-item__item-grid">
                      <div class="col-7 cm-card-item__img-place">
                        <div class="pt-3 pb-3 cm-card-item__img-box">
                          <img class="card-img-top cm-card-item__item-img" src="<%=someItems[j].imgPath %>"
                            alt="Платочек">
                        </div>
                      </div>
                      <div class="col-5 cm-card-item__item-data">
                        <div class="card-body cm-card-item__card-body">
                          <p class="card-text text-break text-dark cm-card-item__item-price">
                            <%=someItems[j].price %>
                          </p>
                          <p class="card-text text-break text-secondary cm-card-item__item-size">
                            <%=someItems[j].size %>
                          </p>
                          <h5 class="card-title text-break text-secondary cm-card-item__item-name">
                            <%=someItems[j].name %>
                          </h5>
                          <a href="/item/delete/<%=someItems[j]._id %>"
                            class="btn btn-outline-danger text-break cm-card-item__description-link">
                            Удалить
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <%} %>
                <% }else {%>
                  <%- include('partials/textHelper.ejs', {
                    textContent: "Необходимо загрузить товары..."
                  }) %>
                  <%} %>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-5">
            <div class="cm-page-body__jumbotron-box">
              <%- include('partials/jumbotron.ejs', {
                title: "Загрузить товар",
                text: "Начните добавлять товары прямо сейчас!"
              }) %>
            </div>
          </div>
          <div class="col-7 cm-page-body__access-form-box cm-page-body__access-form-box--private">
            <form class="shadow cm-access-form cm-access-form--strict" method="post">
              <div class="mb-3 cm-access-form__input-box">
                <div class="form-floating">
                  <textarea class="form-control text-break text-secondary cm-access-form__input-text" id="itemName"
                    name="itemName">
                </textarea>
                  <label class="text-break" for="itemName">Введите название товара</label>
                </div>
              </div>
              <div class="mb-3 cm-access-form__input-box">
                <div class="form-floating">
                  <textarea class="form-control text-break text-secondary cm-access-form__input-text" id="size"
                    name="size">
                </textarea>
                  <label class="text-break" for="size">Укажите размер</label>
                </div>
              </div>
              <div class="mb-3 cm-access-form__input-box">
                <div class="form-floating">
                  <textarea class="form-control text-break text-secondary cm-access-form__input-text" id="stuff"
                    name="stuff">
                </textarea>
                  <label class="text-break" for="stuff">Укажите материал</label>
                </div>
              </div>
              <div class="mb-3 cm-access-form__input-box">
                <div class="form-floating">
                  <textarea class="form-control text-break text-secondary cm-access-form__input-text" id="price"
                    name="price">
                </textarea>
                  <label class="text-break" for="price">Укажите цену</label>
                </div>
              </div>
              <div class="mb-3 cm-access-form__input-box cm-access-form__input-box--centered">
                <input type="submit" class="
                  btn
                  btn-light
                  text-break
                  text-white
                  cm-access-form__submit-btn
                  cm-access-form__submit-btn--full-size
                  cm-access-form__submit-btn--colored
                " value="Добавить">
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script src="/../../extended/hiddenConsole.js"></script>
    <script defer src="/../../extended/privatePageDOMchanging.js"></script>
    <script defer src="/../../extended/clearTextarea.js"></script>
    <script defer src="/../../extended/resizeTextarea.js"></script>
  </body>

  </html>