<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%=title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/../../documentBody/documentBody.css">
  <link rel="stylesheet" href="/../../animatedBlock/imposition.css">
  <link rel="stylesheet" href="/../../accessForm/accessForm.css" />
  <link rel="stylesheet" href="/../../textHelper/helper.css">
  <link rel="stylesheet" href="/../../panelPrompt/panelPrompt.css">
  <link rel="stylesheet" href="/../../cardItemDetail/cardItemDetail.css">
  <link rel="stylesheet" href="/../../tooltipBlock/tooltipBlock.css">
  <link rel="stylesheet" href="/../../uploadForm/uploadForm.css">
</head>

  <body class="admin-page">
    <main>
      <div class="container">
        <button class="btn btn-secondary panel-button" id="panelBtn">
          <span class="text-white fas fa-align-right"></span>
        </button>
        <div class="offcanvas offcanvas-start bg-secondary reverse" id="showPanel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title text-white text-break panel-title">Управление товарами</h5>
            <div class="btn btn-light fas fa-times reset-btn text-white" id="resetBtn"></div>
          </div>
          <div class="offcanvas-body panel-body" id="setScrolling">
              <div class="alert alert-light text-break text-white panel-tooltip">
                В панели администратора у вас есть возможность добавлять и удалять товары.
              </div>
              <ul class="list-group">
                <% if(isSomeItem) {%>
                  <% for(let j=0; j<someItems.length;j++) {%>
                    <div>
                      <li class="list-group-item  panel-item">
                        <a href="/item/delete/<%=someItems[j]._id %>" class="text-break text-white panel-jump-link">
                          <%=someItems[j].name %>
                        </a>
                      </li>
                      <li class="list-group-item panel-item">
                        <a 
                          href="/item/delete/<%=someItems[j]._id %>" 
                          class="btn btn-outline-danger text-break text-white panel-btn-jump"
                        >
                          Удалить
                        </a>
                      </li>
                    </div>
                  <%} %>
                <%} %> 
              </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <% if(isSomeItem) {%>
            <% for(let j=0; j<someItems.length;j++) {%>
              <div class="col-xxl-4 col-xl-4 col-lg-4 mb-4">
                <div class="card" id="cardItem">
                  <div class="pt-3 pb-3 card-header card-detail-header" id="cardHeader">
                    <img 
                      class="img-fluid" 
                      src="<%=someItems[j].imgPath %>" 
                      alt="<%=someItems[j].name %>"
                      id="cardImg"
                    >
                  </div>
                  <div class="card-body card-item-body" id="cardBody">
                    <p class="card-text text-break text-dark item-price" id="itemPrice">
                      <%=someItems[j].price %>
                    </p>
                    <p class="card-text text-break text-dark item-size">
                      <%=someItems[j].size %>
                    </p>
                    <p class="card-text text-break text-dark item-name" id="itemName">
                      <%=someItems[j].name %>
                    </p>
                    <p class="card-text text-break text-dark item-stuff">
                      <%=someItems[j].stuff %>
                    </p>
                    <a 
                      href="/item/delete/<%=someItems[j]._id %>" 
                      class="btn btn-outline-danger text-break btn-remove-item"
                      id="removeItem"
                    >
                      Удалить
                    </a>
                  </div>
                </div>
              </div>
              <%} %>
                <% }else {%>
                  <%- include('partials/textHelper.ejs', {
                    textContent: "Необходимо загрузить товары..."
                  }) %>
                  <%} %>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <%- include("partials/tooltipBlock.ejs") %>
          <%- include("partials/uploadForm.ejs") %>
        </div>
      </div>
    </main>
    <!-- <script async src="/../../extended/hiddenConsole.js"></script> -->
    <script async src="/../../extended/saveToLocaleFromAddArea.js"></script>
    <script async src="/../../extended/clearTextarea.js"></script>
    <script async src="/../../extended/resizeTextarea.js"></script>
    <script async src="/../../extended/togglePanelPrompt.js"></script>
    <script defer src="/../../cardItemDetail/cardItemDetail.js" type="module"></script>
  </body>

  </html>