<%- include("partials/metadata") %>

  <body class="cm-page-body">
    <main class="container cm-page-body__grid-container">
      <div class="row cm-page-body__banner-box">
        <div class="alert alert-primary bg-primary rounded text-white p-md-5 mb-4 cm-banner">
          <div class="col-8 cm-banner__banner-content">
            <h1 class="text-break cm-banner__title">Управление товарами</h1>
            <p class="lead my-3 text-break cm-banner__text">
              В данном разделе вы можете управлять своими товарами, добавлять и
              удалять товары.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <% if(isSomeItem) {%>
          <% for(let j=0; j<someItems.length;j++) {%>
            <div class="col-3 cm-page-body__card-box">
              <div class="card cm-card-item" style="width: 300px;">
                <div class="cm-card-item__img-box" style="display: flex; justify-content: center;">
                  <img class="card-img-top" src="<%=someItems[j].imgPath %>" alt="Платочек">
                </div>
                <div class="card-body cm-card-item__card-body">
                  <p class="card-text text-break cm-card-item__item-price">
                    <%=someItems[j].price %>
                  </p>
                  <p class="card-text text-break cm-card-item__item-size">
                    <%=someItems[j].size %>
                  </p>
                  <h5 class="card-title text-break cm-card-item__item-name">
                    <%=someItems[j].name %>
                  </h5>
                  <a href="/item/delete/<%=someItems[j]._id %>"
                    class="btn btn-outline-warning text-break cm-card-item__description-link">Удалить</a>
                </div>
              </div>
            </div>
            <%} %>
              <% }else {%>
                <div class="alert alert-primary cm-text-helper">
                  <h3 class="alert-heading text-break cm-text-helper__title">Необходимо загрузить товары...</h3>
                </div>
                <%} %>
      </div>
      <div class="row">
        <div class="col-5">
          <div class="cm-page-body__jumbotron-box">
            <%- include('partials/jumbotron', { title: 'Загрузить товар' ,
              text: 'Начните добавлять товары прямо сейчас!' }) %>
          </div>
        </div>
        <div class="col-7 cm-page-body__access-form-box">
          <form class="shadow rounded cm-access-form" method="post">
            <div class="mb-3 cm-access-form__input-box">
              <textarea class="form-control cm-access-form__input-text" name="itemName">
                Введите название товара
              </textarea>
            </div>
            <div class="mb-3 cm-access-form__input-box">
              <textarea class="form-control cm-access-form__input-text" name="size">
                Укажите размер
              </textarea>
            </div>
            <div class="mb-3 cm-access-form__input-box">
              <textarea class="form-control cm-access-form__input-text" name="stuff">
                Укажите материал
              </textarea>
            </div>
            <div class="mb-3 cm-access-form__input-box">
              <textarea class="form-control cm-access-form__input-text" name="price">
                Укажите цену
              </textarea>
            </div>
            <div class="mb-3 cm-access-form__input-box cm-access-form__input-box--centered">
              <input type="submit"
                class="btn btn-primary cm-access-form__submit-btn cm-access-form__submit-btn--full-size"
                value="Добавить" />
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>

  </html>